In [1]:
import pandas as pd
import numpy as pd

import pickle
import joblib 

from pydub import AudioSegment
import numpy as np
from scipy.io.wavfile import read
from scipy.fftpack import fft
import pydub
from scipy import signal
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.ensemble import GradientBoostingClassifier, RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
import speech_recognition as sr

In [2]:
data = pd.read_csv("../downloads/Medley-solos-DB_metadata.csv")
df = pd.DataFrame(data)

In [3]:
df.head()

,subset,instrument,instrument_id,song_id,uuid4
0,test,clarinet,0,0,0e4371ac-1c6a-51ab-fdb7-f8abd5fbf1a3
1,test,clarinet,0,0,33383119-fd64-59c1-f596-d1a23e8a0eff
2,test,clarinet,0,0,b2b7a288-e169-5642-fced-b509c06b11fc
3,test,clarinet,0,0,151b6ee4-313a-58d9-fbcb-bab73e0d426b
4,test,clarinet,0,0,b43999d1-9b5e-557f-f9bc-1b3759659858

In [4]:
test = df["subset"]=="test"
df_test= df[test]
df_test.head()

,subset,instrument,instrument_id,song_id,uuid4
0,test,clarinet,0,0,0e4371ac-1c6a-51ab-fdb7-f8abd5fbf1a3
1,test,clarinet,0,0,33383119-fd64-59c1-f596-d1a23e8a0eff
2,test,clarinet,0,0,b2b7a288-e169-5642-fced-b509c06b11fc
3,test,clarinet,0,0,151b6ee4-313a-58d9-fbcb-bab73e0d426b
4,test,clarinet,0,0,b43999d1-9b5e-557f-f9bc-1b3759659858

In [5]:
train = df["subset"]=="training"
df_train= df[train]
df_train.head()

,subset,instrument,instrument_id,song_id,uuid4
12236,training,clarinet,0,139,163fd2b1-8e98-515a-f501-4742cc6d066f
12237,training,clarinet,0,139,36dcb8eb-da46-5d01-fa9d-0f715c389379
12238,training,clarinet,0,139,9f6d4046-3662-5433-fc44-98c80a428fd8
12239,training,clarinet,0,139,5ef6a0ee-a092-5d49-f64e-a3454e9ab237
12240,training,clarinet,0,139,2048e98b-77b2-5b7d-fe6a-780f399e69fe

In [6]:
validation = df["subset"]=="validation"
df_validation= df[validation]
df_validation.head()

,subset,instrument,instrument_id,song_id,uuid4
18077,validation,clarinet,0,200,a8bfed6b-3005-5059-f46d-4f4c5e672850
18078,validation,clarinet,0,200,cb17632c-ca9f-5b7c-f8fb-58a5f35d48ea
18079,validation,clarinet,0,200,21b3c105-1704-5e7c-fc2f-1b60fdb9d74b
18080,validation,clarinet,0,200,ea3fe67c-23fb-5cc5-fdc8-8c90715af8e1
18081,validation,clarinet,0,200,5aef142f-545d-5ace-f1bb-a96e843a999c

In [7]:
instrument_lst = set(df.instrument.values)  
instrument_lst

{'clarinet',
 'distorted electric guitar',
 'female singer',
 'flute',
 'piano',
 'tenor saxophone',
 'trumpet',
 'violin'}

In [8]:
instrument_lst = list(instrument_lst)

In [9]:
instrument_lst

['female singer',
 'tenor saxophone',
 'violin',
 'flute',
 'trumpet',
 'clarinet',
 'distorted electric guitar',
 'piano']

In [10]:
instruments_train = {}
for inst in instrument_lst:
    instruments_train.update({inst:list(df['uuid4'][df["instrument"]==inst])})

In [11]:
#instruments_train['female singer']

In [12]:
instruments_test = {}
for t in instrument_lst:
    instruments_test.update({t:list(df['uuid4'][df["instrument"]==t])})

In [13]:
instruments_validation = {}
for v in instrument_lst:
    instruments_validation.update({v:list(df['uuid4'][df["instrument"]==v])})

In [31]:
import os
import re

def find(pattern, path):
    ''' 
    Esta función busca el primer fichero que cumpla
    el pattern, en el path que recibe.
    Si lo encuentra devuelve la ruta del fichero.
    '''
    for root, dirs, files in os.walk(path):
        for name in files:
            if bool(re.search(pattern, name)):
                return os.path.join(root, name)
    return None

#find(fr"(.*){identifier}(.*)", './Medley-solos-DB/')

'./Medley-solos-DB/Medley-solos-DB_test-4_134d339e-06a5-52a0-fc57-f829ce2ee131.wav'

In [67]:
instruments_train_paths = {}
for inst, uuid4_list in instruments_train.items():
    inst_path_list = []
    for uuid4 in uuid4_list:
        path = find(fr"(.*){uuid4}(.*)", './Medley-solos-DB')
        if path:
            inst_path_list.append(path)
    instruments_train_paths[inst] = inst_path_list

In [76]:
# Creamos una copia de instruments_train_paths por si modificamos algo por error,
# para no tener que volver a ejecutar la celda anterior.
instruments_train_paths_copy = instruments_train_paths

In [77]:
def removeEmptyPaths(inst_paths_dict):
    '''
    Esta función limpia los instrumentos cuya lista
    de paths esté vacía y te devuelve una copia del diccionario limpio.
    '''
    inst_paths_dict_cleaned = inst_paths_dict
    for inst, paths in inst_paths_dict.items():
        if not paths:
            inst_paths_dict_cleaned.pop(inst)
        else:
            print(inst)
    return inst_paths_dict_cleaned

In [78]:
instruments_train_paths_copy = removeEmptyPaths(instruments_train_paths_copy)

tenor saxophone
violin
flute
trumpet
clarinet
distorted electric guitar
piano

In [79]:
def dataSetInst(path_lst):
    '''
    Esta función crea una lista de objetos de AudioSegment
    por cada fichero de la lista que recibe (path_lst),
    después por cada objeto AudioSegment, obtiene la lista
    de samples de cada audio, creando una nueva lista y devolviéndola.
    '''
    audio_lst = []
    audio_lst_fn = []
    for path in path_lst:
        audio = AudioSegment.from_file(path, format='wav')
        audio_lst.append(audio)
    for a in audio_lst:
        array = a.get_array_of_samples()
        four = abs(fft(array))
        audio_lst_fn.append(four)
    
    return audio_lst_fn

In [87]:
def dataFramer(dict):
    '''
    Esta función toma el diccionario que se le pase como argumento
    y, por cada entrada del diccionario, crea un dataframe y los concatena 
    todos.
    '''
    lst_df = []
    for inst, path_lst in instruments_train_paths_copy.items():
        inst_data_sets = dataSetInst(path_lst)
        inst_tr = {"transformed": inst_data_sets, "type": inst}
        lst_df.append(pd.DataFrame(inst_tr))
    return pd.concat(lst_df).reset_index(drop=True)

In [90]:
df_total = dataFramer(instruments_train_paths_copy)

In [103]:
df_total.groupby(['type']).counts()

AttributeError: 'DataFrameGroupBy' object has no attribute 'counts'